

.this-is-my-dropdown{
    width: 73px;
    font-size: 12px;
    height: 25px;
    padding: 5px;
    margin: 0px;
    margin-right: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://img.icons8.com/dusk/64/000000/pi.png) 96% / 15% no-repeat #eee;      
}
